## Ignore Visual Studio temporary files, build results, and
## user-specific files

# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.rsuser
*.userprefs

# Debug/Release config
*.dbmdl
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.v11.suo
*.dll
*.exe

# Others
*.ncb
*.sdf
*.opensdf
*.VC.db

# DotCover
.idea/
*.dotCover

# Backup & crash files
*.bak
*.tmp

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core
project.lock.json
project.assets.json
*.deps.json

# Ignore local .env or settings files if you have any
.env

# Ignore any system file
.DS_Store
Thumbs.db
